@charset "UTF-8";

table {
    border-collapse: collapse; /* 셀 간의 보더를 겹치게 설정 */
}

li, label, input, tr, th, td {
    font-size: 14px;
}

.content {
    padding: 20px 0;
}
.content h3{
	padding: 25px 0 35px;
}

#container .contents {
    width: 128rem;
    margin: 0 auto;
    padding: 0 225px;
    box-sizing: border-box;
}

.productWrapper {
    display: flex;
    gap: 15%; /* 아이템 간 간격을 설정 */
}

.productWrapper .summary .summaryTop {
    margin-top: 2.4rem;
    margin-bottom: 2.4rem;
}



.navList {
	    width: 800px;
	display: flex;
    justify-content: space-around; /* 네비게이션 항목들 사이에 공간을 균등하게 배치 */
    gap: 10px; /* 네비게이션 항목들 간의 간격 */
    list-style-type: none;
    padding: 0;
    margin: 0;
    border-bottom: 0.1rem solid #b6bdc7;
    
}

.navItem {
    flex: 1; /* 각 항목이 동일한 공간을 차지하도록 설정 */
    text-align: center;
    width : auto;
    position : relative;
    
}

.summaryBody {
    display: flex;
    flex-wrap: wrap; /* 콘텐츠가 필요에 따라 감싸도록 설정 */
}



/* .productWrapper .summary .info .infoItem {
    margin-top: 1.5rem;
    padding-left: 2.5rem;
}

.productWrapper .summary .info .infoItem:first-child {
    margin-top: 0;
}


.productWrapper .summary .info .infoLabel {
    display: inline-block;
    width: 9rem;
    padding-right: 0.5rem;
    color: #000;
    font-weight: normal;
    line-height: 160%;
    vertical-align: top;
    box-sizing: border-box;
} */

/* 
지워야되나?
.productWrapper .summary .info .infoBtn {
    position: relative;
    color: #000;
    line-height: 160%;
    vertical-align: middle;
    text-align: left;
    font-weight: inherit;

    
}
 */

/* .productWrapper .summary .info .infoDesc {
    display: inline-block;
    max-width: 39rem;
    vertical-align: top;
} */

.productWrapper .summary .info .infoItem {
    margin-top: 1.5rem;
    padding-left: 2.5rem;
    display: flex; /* 수평 정렬을 위해 flex 사용 */
    align-items: baseline; /* 세로 정렬을 맞추기 위해 baseline 정렬 */
}

.productWrapper .summary .info .infoItem:first-child {
    margin-top: 0;
}

.productWrapper .summary .info .infoLabel {
    display: inline-block;
    width: 6rem; /* 일정 너비를 주어 항목들이 맞춰서 정렬되도록 함 */
    padding-right: 0.5rem;
    color: #000;
    font-weight: normal;
    line-height: 160%;
    vertical-align: top;
    box-sizing: border-box;
}

.productWrapper .summary .info .infoDesc {
    display: inline-block;
    max-width: 39rem;
    vertical-align: top;
    flex: 1; /* 남은 공간을 차지하도록 설정 */
}

.productWrapper .productSide {
    position: relative;
    width: 37rem;
    margin-top: 4rem;
    padding-bottom: 1rem;
}

.test{
	
	height : 1000px;
}

.productWrapper .productSide .stickyWrap {
    position: sticky;
    top: 1rem;
    width: 34rem;
    height: auto;
    margin: 1rem 0 0 2rem;
    z-index: 5;
}

.productWrapper .summary {
    position: relative;
    padding-bottom: 6.5rem;
}

.productWrapper .nav .navItem {
    color: #666;
    font-weight: bold;
    height: 40px;
}

.productWrapper .nav .navItem.is-active {
    color: #000;
}

.productWrapper .nav .navItem.is-active:before {
    display: block;
}

.productWrapper .nav .navItem:before {
    display: none;
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    height: 5px;
    background-color: #333;
}

.prdContents p, .prdContents td, .prdContents tr{
	font-size: 15px;
	line-height: 2;
}

.prdCastBtn{
	display: flex;
}

.cast_icon{
	width:17px;
	margin-right: 5px;
}
.prdCast {
	margin-top: 10px;
    display: flex;
    gap: 10px;
}

.productWrapper .detail .casting .castingTop {
       position: relative

}
.productWrapper .detail .casting .castingInfo {
       text-align:center;

}
.castingList{
	display: flex;
    flex-direction: row;
    gap: 60px;
    flex-wrap: wrap;
}
.productWrapper .detail .casting .castingHeartBtn {
    position: absolute;
    bottom: 0.2rem;
    right: 0;
    display: block;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    background-color: #ddd;
    box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.14);
        left: 75px;
    line-height: 2.8rem;
}
.productWrapper .detail .casting .castingHeartBtn img
{    margin: 13px 14px;}

img.castingImage{
	border-radius: 50%;
	object-fit: cover;
	width : 100px;
	height : 120px;
}

.filterLabel {
    display: inline-block;
    min-width: 5rem;
    height: 3rem;
    line-height: 2.6rem;
    text-align: center;
    font-size: 1rem;
    border: 0.1rem solid #dbdbdb;
    border-radius: 1rem;
    box-sizing: border-box;
    cursor: pointer;
}

/* .filterLabel[aria-checked="true"] {
    선택된 필터 스타일
    background-color: #selected-color;
    color: #text-color;
}

.filterLabel[aria-checked="false"] {
    선택되지 않은 필터 스타일
    background-color: #unselected-color;
    color: #text-color;
}
 */

.productWrapper .castingDetail .castingDetailFilter .filterLabel.is-toggled {
    font-weight: bold;
    color: #fff;
    border-color: #333;
    background-color: #333;
}
.prdContents.castingDetail .content {
	padding-top:50px;
}
.prdContents.castingDetail .content .castingDetailTable{
	width:100%;
}
.prdContents.castingDetail .content .castingDetailGuideText{
	color: #666;
	margin-bottom: 10px;
}
.productWrapper .prdContents {
    padding-top: 10px;
    padding-bottom: 50px;
}
.castingDetailFilter {
	display: flex;
    flex-direction: column;
    padding: 50px 0;
}
.castingDetailFilter .filterItem{
	display: flex;
    align-items: center;
        padding: 20px 0;
}
.castingDetailFilter .filterItem .filterSearchBtn{
	width: 50px;
    display: inline-block;
    padding: 10px;
    text-align: center;
    background: #f0f0f0;
    border-radius: 10px;
}
.productWrapper .castingDetail .castingDetailFilter .filterTitle {
    display: inline-block;
    width: 150px;
    padding: 0 1rem;
    font-size: 17px;
    font-weight: bold;
}
.productWrapper .castingDetail .castingDetailFilter .filterContent {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}
.productWrapper .filterDateWrap {
	display: flex;
    gap: 20px;
}
.filterContent .filterDateWrap .filterDate input{
	    width: 205px;
	    height:30px;
	    padding: 0 10px;
}
.productWrapper .castingDetail .castingDetailTable tr {
    border-bottom: 0.1rem solid #dfe5ed;
}
.productWrapper .castingDetail .castingDetailTable th {
    position: relative;
    padding: 1.2rem 0;
    vertical-align: middle;
    text-align: center;
    font-size: 1.4rem;
    font-weight: normal;
    color: #666;
    white-space: normal;
    line-height: 130%;
    background-color: #f4f6f9;
    border-top: 0.1rem solid #b6bdc7;
}
.productWrapper .castingDetail .castingDetailTable tr th span {
    font-size: 17px;
    font-weight:bold;
}
.productWrapper .castingDetail .castingDetailTable td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    padding: 0 0.5rem;
    line-height: 4.6rem;
    vertical-align: middle;
    text-align: center;
    font-size: 16px;
    color: #000;
    white-space: normal;
    word-break: keep-all;
    height: 4.6rem;
}
.productWrapper .castingDetail .castingDetailTable td:after {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    transform: translateY(-50%);
    width: 0.1rem;
    height: 1.5rem;
    background-color: #dfe5ed;
    content: '';
}
.productWrapper .castingDetail .castingDetailTable td:after {
    position: absolute;
    top: 50%;
    right: 0;
    display: block;
    transform: translateY(-50%);
    width: 0.1rem;
    height: 1.5rem;
    background-color: #dfe5ed;
    content: '';
}
.productWrapper .castingDetail .castingDetailTable td:last-child:after {
    content: none;
}
.productWrapper .castingDetail .castingDetailTable tr td {
    border-bottom: 0.1rem solid #dfe5ed;
}
.productWrapper .castingDetail .castingDetailFilter .filterItem {
    border-top: 0.1rem solid #dfe5ed;
}

/* 판매 정보 */
.productWrapper .prdContents .moreInfoContainer {
    padding-top: 30px;
}
.productWrapper .prdContents .moreInfoContainer h4 {
    padding: 20px 0;
    font-size: 18px;
}

.productWrapper .moreInfoTable th {
    padding: 1rem 1.3rem;
    color: #666;
    font-size: 13px;
    font-weight: normal;
    text-align: left;
    background-color: #f4f6f9;
        text-align: center;
}
.productWrapper .castingDetail .castingDetailTable th span:after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 0.1rem;
    height: 1.5rem;
    background-color: #dfe5ed;
}
.productWrapper .castingDetail .castingDetailTable th:last-child span:after {
    content: none;
}
.productWrapper .moreInfoTable .col1,
.productWrapper .moreInfoTable .col3 {
  width: 15rem;
}

.productWrapper .moreInfoTable .col2,
.productWrapper .moreInfoTable .col4 {
  width: 30rem;
}
.productWrapper .moreInfoContainer + .moreInfoContainer {
    margin-top: 20px;
}
.productWrapper .moreInfoContainer h3 {
    padding-bottom: 30px;
    font-size: 18px;
}
.productWrapper .moreInfoTable td {
    padding: 1rem 1.5rem;
    line-height: 2rem;
}
.productWrapper .moreInfoTable td table {
    width:100%;
}
.productWrapper .moreInfoTable td span {
    font-size:15px;
}
.productWrapper .moreInfoTable tr:first-child {
    border-top: 0.1rem solid #dfe5ed;
}
.productWrapper .moreInfoTable tr {
    border-bottom: 0.1rem solid #dfe5ed;
}
.productWrapper .moreInfoTable .cancleGuide th {
    padding: 0.6rem 1.2rem;
    text-align: center;
    font-size: 96%;
    border-right: 0.1rem solid #dfe5ed;
}
.productWrapper .moreInfoTable .cancleGuide th:last-child, .productWrapper .moreInfoTable .cancleGuide td:last-child {
    border-right: 0;
}
.productWrapper .moreInfoTable .cancleGuide td {
    padding: 0.4rem 0.8rem;
    text-align: left;
    font-size: 94%;
    border-right: 0.1rem solid #dfe5ed;
}
.productWrapper .moreInfoTable .cancleGuide th:last-child, .productWrapper .moreInfoTable .cancleGuide td:last-child {
    border-right: 0;
}

.productWrapper .escrowGuide {
    margin-top: 4rem;
    padding: 1rem;
    color: #666;
    border-top: 0.1rem solid #dfe5ed;
    border-bottom: 0.1rem solid #dfe5ed;
}
.productWrapper .escrowGuide .escrowText {
    margin-top: 1rem;
    font-size: 14px;
}
/* 후기 */
.bbsNotice{
	
	margin-bottom: 3rem;
}
.prdBbs{
	padding-top : 50px;
}

.bbsNoticeHead{
	font-weight : bold;
	margin-bottom : 30px;	
	font-size: 18px;
}

.bbsNotice .bbsNoticeText {
    font-size: 14px;
}

.bbsListHead{
    display: flex;
    justify-content: space-between;
padding-bottom: 1rem;
    border-bottom: 0.1rem solid #b6bdc7;
}

.bbsItem{
	border: 1px solid black;
	margin-top: 20px;
}

.bbsInfo .reviewStarTotal {
	display: flex;
    align-items: center;
    gap: 20px;
}

.bbsListWrap.reviewAll {
	padding-top: 30px;
}


/* 별  */
.ystarHalf, .gstarHalf {
    width: 12px; /* 원본 사이즈/2 */
    height: 24px;
    display: inline-block; /* 나란히 배치 */
    background-repeat: no-repeat;
    background-size: 24px 24px; /* 이미지 크기를 24px로 설정 */
    margin-left: -4px;
}

.ystarHalf {
    background-image: url("/muse/resources/img/ystar.svg");
    background-position: left; /* 왼쪽 반만 채워지게 */
}

.gstarHalf {
    background-image: url("/muse/resources/img/gstar.svg");
    background-position: right; /* 오른쪽 반만 빈 별로 */
}

/* 채운 별과 빈 별을 나란히 배치 */
.ystarHalf, .gstarHalf {
    width: 12px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 24px 24px;
}

/* 채워진 별 */
.ystarHalf {
    background-image: url("/muse/resources/img/ystar.svg");
    background-position: left;
}

/* 빈 별 */
.gstarHalf {
    background-image: url("/muse/resources/img/gstar.svg");
    background-position: right;
}

/* 별 이미지 */
.review-stars img {
    width: 24px;
    height: 24px;
    margin-right: 4px;
}
