@charset "UTF-8";
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css");

/* 공통 */


@font-face {
    font-family: 'MV Boli';
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Pretendard', -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", sans-serif;
    overflow-x: hidden;
}

p, span, li, label, input, button, textarea, select, option, h1, h2, h3, tr, th, td {
    font-family: 'Pretendard';
}
em {
	font-style:normal;
}
button {
    cursor: pointer;
    border: none;
}

li::marker {
    content: none;
}

a {
    text-decoration: none;
    color: unset;
}

