@charset "UTF-8";

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

.login_flex1{
   display: flex;
}

.login_child1{
   display: flex;
   width: 75%;
   
}

.login_img{   
   width: 1370px;
   height: 1050px;
}

.login_logoimg{   
   width: 150px;
   height: 70px;
}

.login_child2{
   display: flex;
   justify-content:center;
   align-items:center;
   width: 43%;
   height: 980px;
}

.login_btn {
    width:340px;
    height: 50px;
    font-family: 'TTLaundryGothicB', sans-serif;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: rgb(52, 61, 70);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 15px;
}

.login_btn:hover {
    background-color: black;
}


.login_logodiv1{
   display: flex;
   justify-content: center;
   padding-bottom: 40px;
}

.join{
   padding-left: 35px;
   margin-top: 50px;
}

.input-container {
   display: flex;
   align-items: center; 
   background-color: rgb(142 150 159 / 17%); 
   border-radius: 10px; 
   padding-left: 10px;
}

.input-container-btn {
   width:340px;
   display: flex;
   align-items: center;  
   border-radius: 10px; 
   margin-bottom: 0px;
}

.input-container img {
   width: 30px;  
   height: 30px; 
   object-fit: cover; 
   margin-right: 10px; 
}

.social_login {
	margin-top:10px;
	padding:20px;
	display: flex;
	justify-content: center;
}

.social_login img {
   width: 50px;  
   height: 50px; 
   object-fit: cover; 
}

.kakao {
   margin-right: 20px; 
}

