@charset "UTF-8";

/* index */
.wrap {
    width: 100%;
    height: 100%;
}

.top {
    height: 50px;
    background: #000;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 210px;
    align-items: center;
    gap: 100px;
}

.top a {
    color: #fff;
    font-size: 15px;
}

.top .topmusepass {
    width: 195px;
    font-family: 'MV Boli', sans-serif;
    background-color: #ff3d32;
    color: #fff;
    line-height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: 20px;
}

.top .topmusepass img {
    width: 20px;
}

.header {
    position: relative;
    background: #fff;
    height: 90px;
    display: flex;
    padding: 0 210px;
    align-items: center;
    border-bottom: 1px solid #000;
}

.header a {
    display: block;
    margin-right: 150px;
}

.header ul {
    display: flex;
    gap: 20px;
}

.header ul li {
    font-size: 20px;
    font-weight: 500;
}

.search {
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 440px;
    width: 20%;
    border-left: 1px solid #7f7f7f;
    height: 70px;
    background-color: #fff;
    z-index: 1001;
}

.search input {
    width: 275px;
    height: 100%;
    border: none;
    padding: 0 30px;
}

.search button {
    width: 40px;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
    display: inline-block;
    background: url(../img/main/search.png) center no-repeat;
}

.hide, caption, legend, .hidden {
    position: absolute;
    left: -300px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    background: none;
    line-height: 0;
    overflow: hidden;
}
.content {
	width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    
}

.content article h2 {
    font-size: 45px;
    padding: 100px 0 50px;
    text-align: center;
}

article.whatsOn {
	position: relative;
    
}


article.whatsOn a.calender {
    width: 250px;
    display: flex;
    position: absolute;
    right: 45px;
    color: #fff;
    background: #000;
    height: 60px;
    border-radius: 0 0 25px 25px;
    line-height: 60px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

article.whatsOn a.calender img {
	width:20px;
}


.screening-container {
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

.screening-item {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 0 10px; /* Slide gap */
    overflow: hidden;
}

.slick-slide:last-child {
    margin-right: 0;
}

.screening-item .thumbnail {
    width: 100%;
    height: 440px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
}

.screening-item .thumbnail:hover {
    transform: scale(1.1);
}

.screening-item .title {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #000;
    background: #fff;
    z-index: 1;
}

.screening-item .meta {
    font-size: 14px;
    color: #000;
    padding: 10px 5px;
    text-align: center;
    background: #f9f9f9;
    border-top: 1px solid #000;
}

.screening-item.open .meta {
    font-size: 12px;
}
.screening-item.open .meta.red {
    color: #FF3D32;
}
.screening-item .meta.gray {
    color: #959595;
}

article .bt {
	padding: 50px 0;
}

article .bt a{
	width: 240px;
    height: 60px;
    font-size: 18px;
    color: #FF3D32;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FF3D32;
    margin: 0 auto;
}

article .bt a:hover {
    color: #fff;
    background:#FF3D32;
}


.slick-prev, .slick-next {
    background: #FF3D32;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 0.8;
    visibility: visible !important;
    transition: none !important;
    pointer-events: auto !important;
}

.slick-prev:before, .slick-next:before {
    color: #FFFFFF;
    font-size: 20px;
    content: "";
	background: url(../img/main/slide_arrow.png) center no-repeat #FF3D32;
    width: 100%;
    height: 100%;
    display: inline-block;
    visibility: visible !important;
    border-radius: 50%;
}

.slick-prev:hover, .slick-next:hover {
    opacity: 1 !important;
}

.slick-prev:before {
    transform: rotate(180deg);
}

.slick-prev {
    left: -15px;
    z-index: 10;
}

.slick-next {
    right: -15px;
    z-index: 10;
}
.mainBanner {
	position: relative;
	padding: 100px 0 50px;
}
.mainBanner a {
	width: 100%;
	height: 100%;
	display: block;
}
.mainBanner a .txt {
	position: absolute;
	padding: 50px 0 0 500px;
    color:#fff;
    text-align: center;
}
.mainBanner a .txt01 {
	font-size:19px;
	font-weight: 300;
	opacity: 0.6;
}
.mainBanner a .txt02 {
	font-size:22px;
	margin-top: 5px;
}
.mainBanner a .txt span {
    color:#fff;
}

article .reviewcont ul.cont {
	display:flex;
	gap: 70px;
    flex-wrap: wrap;
    justify-content: center;
}

article .reviewcont ul li {
	margin-right: 30px;
}

article .reviewcont ul.cont li a {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 30px;
    align-items: flex-start;
    cursor: pointer;
}
article .reviewcont ul.cont li .reviewposter{
	width: 300px;
    height: 350px;
    background: #000;
}
article .reviewcont ul.cont li .reviewtxt ul {
	display: flex;
    width: 310px;
    height: 310px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    padding: 20px;
}
article .reviewcont ul.cont li .reviewtxt .name{
	font-size: 15px;
	color: 000;
	opacity: 0.6;
}
article .reviewcont ul.cont li .reviewtxt .title{
	font-size: 22px;
}
article .reviewcont ul.cont li .reviewtxt .content{
	font-size: 15px;
	color: #757575;
	line-height: 1.5;
}
article .reviewcont ul.cont li .reviewtxt .inf{
	font-size: 15px;
}

.screening-container.all {
    display: flex;
    gap: 25px;
    padding: 50px 0;
    flex-wrap: wrap;
}

.screening-item.all {
	width: 250px;
	overflow: hidden;
}

article.alltheMusical {
	padding-bottom:100px;
}

/* MusePass */
article.musepass {
	padding-bottom: 110px;
}
article.musepass h2 {
	display: flex; 
	flex-direction: column; 
	color: #FF3D32;
}
article.musepass h2 span {
	font-size:22px; 
	font-weight:400; 
	color:#000; 
	opacity: 0.6; 
	margin-top:10px;
}
article.musepass div.bene_bk {
	display: flex;
    width: 100%;
    height: 415px;
    background: url(../img/main/musebene_bk.png) no-repeat #000;
    padding: 50px 0;
    text-align: center;
    align-items: center;
    justify-content: center;
}

article.musepass div ul {
	display: flex; 
	align-items: center; 
	justify-content: center; 
	gap: 135px;
}
article.musepass div ul li .imgbox {
	display: flex;
    align-items: center;
    justify-content: center;
	width: 180px; 
	height: 180px; 
	background: #fff; 
	border-radius: 50%;
	border: 1px solid #ff3d32;
}
article.musepass div ul li .imgbox img{
	width: 100px; 
}
article.musepass div ul li .bene_p01 {
	margin-top:35px;
	font-size:23px;
	color: #fff;
	font-weight: 700;
}
article.musepass div ul li .bene_p02 {
	margin-top:20px;
	font-size:15px;
	color: #fff;
	opacity: 0.8;
	line-height: 1.5;
}
article.musepass .bene_res .bene_list {
    display: flex;
    justify-content: space-between;
    padding: 50px 0;
}
article.musepass .bene_res .bene_res_inf {
	display:flex;
	gap: 30px;
}
article.musepass .bene_res .bene_res_inf .ref_inf_img {
	width: 300px;
	height: 410px;
	background: #000;
}
article.musepass .bene_res .pos_inf .ref_inf_txt {
	height: auto;
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0 30px;
    width: 300px;
    border: 1px solid #959595;
    min-height: 380px;
    justify-content: space-between;
}
article.musepass .bene_res .pos_inf .ref_inf_txt img {
	width: 50px;
	margin-bottom: 20px;
}
article.musepass .bene_res .pos_inf .ref_inf_txt .name{
	font-size: 23px;
    font-weight: 600;
    margin-bottom: 60px;
}
article.musepass .bene_res .pos_inf .ref_inf_txt .musename{
	font-size: 20px;
    font-weight: 700;
    color: #FF3D32;
    margin-bottom: 20px;
}
article.musepass .bene_res .pos_inf .ref_inf_txt .muse_day{
	font-size: 21px;
    font-weight: 700;
    margin-bottom: 70px;
}
article.musepass .bene_res .pos_inf .ref_inf_txt .origin {
	font-size: 20px;
	margin-bottom: 20px;
}
article.musepass .bene_res .pos_inf .ref_inf_txt .origin_day {
	font-size: 20px;
	margin-bottom: 30px;
}
/* reservMain */
.reservWrap {
	position: relative;
    width: 1200px;
    background: #444444;
    height: 750px;
    padding: 20px;
}
.reservWrap .contWrap {
	display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
.reservWrap .step {
	position: relative;
    height: 50px;
    background: #fff;
    display: flex;
    align-items: center;
    display: flex;
    gap: 30px;
    align-items: center;
}
.reservWrap .step h2 {
	width: 100px;
    height: 100%;
    background: #FF3D32;
    color: #fff;
    font-size: 12px;
    line-height: 50px;
    text-align: center;
}
.reservWrap .step h3 {
	font-size: 15px;
    font-weight: 500;
}
.reservWrap .step h3 span {
	font-size: 10px;
    font-weight: 400;
    color: #b2b2b2;
}
.reservWrap .step .select {
	margin-left: 140px;
}
.reservWrap .step .select em, span {
	font-size: 12px;
}
.reservWrap .step .select span {
	font-size: 12px;
	margin-left: 15px;
}
.reservWrap .allSeat {
	position: relative;
	display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    height: calc(100% - 50px);
    margin-top: 20px;
    background: #7D7D7D;
}
.reservWrap .allSeat .seatL {
	position: absolute;
	left: 0;
	display: flex;
    flex-direction: column;
    justify-content: space-between;
        width: calc(100% - 250px);
}
.reservWrap .allSeat .seatL .seatReview{
	width: 780px;
	margin: 0 auto;
	background: #fff;
    padding: 20px;
    line-height: 0;
    display: flex;
    justify-content: space-between;
}
.reservWrap .allSeat .seatL .seatReview p {
	font-size: 14px;
	float: left;
}
.reservWrap .allSeat .seatL .seatReview span {
	float: right;
	opacity:0.7;
}
.reservWrap .allSeat .seatR {
	position: absolute;
    right: 0;
	display: flex;
    flex-direction: column;
    gap: 15px;
	width: 250px !important;
    height: 100%;
}
.reservWrap .allSeat .s.Floor {
	width: 250px;
    background: yellow;
}
.reservWrap .allSeat .s h2 {
	width: 100%;
    padding: 10px 0;
    font-size: 14px;
    text-align: center;
    font-weight: 400;
}
.reservWrap .allSeat .s.Floor h2 {
	background: #F66904;
    color: #fff;
}
.reservWrap .allSeat .s ul {
    padding: 15px;
    background: #fff;
}
.reservWrap .allSeat .s.Floor ul {
	display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
.reservWrap .allSeat .s.Floor ul li {
	font-size: 13px;
	display: flex;
    align-items: center;
    gap: 5px;
}
.reservWrap .allSeat .s.Rating ul, .s.Choice div {
	display: flex;
    flex-direction: column;
    gap: 10px;
    background: #fff;
    padding: 20px;
}
.reservWrap .allSeat .s.Rating ul li {
	display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
}
.reservWrap .allSeat .s.Rating h2, .s.Choice h2 {
	background: #F0F0F0;
    color: #1E1E1E;
}
/* .reservWrap .allSeat .s.Rating h2, .s.Choice span {
	text-align: center;
    font-size: 20px;
} */
.reservWrap .allSeat .s.Choice span {
	text-align: center;
    font-size: 20px;
}
.nextBt {
	width: 100%;
    padding: 15px;
    background: #FF3D32;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.subBtList{
	width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 5px;
}

.subBt{
	width: 49%;
	padding: 10px;
}

/* reservSale */
.reservWrap .allSeat .s.inf h2 {
	background: #F66904;
	color: #fff;
}
.reservWrap .allSeat .seatL .priceL .priceList{
	    background: #fff;
    padding: 20px;
}
.reservWrap .allSeat .reservmInfo {
	display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
	background: #fff;
	padding: 15px;
}
.reservWrap .allSeat .reservmInfo img {
	width: 70px;
    height: 100px;
    height: 100px;
    background: #000;
}

.reservWrap .allSeat .reservmInfo ul.mInfoList {
	padding: 0; 
	margin: 0;
	display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 11px;
}
.reservWrap .allSeat .reservmInfo ul.mInfoList li:first-child {
    font-size: 15px;
    font-weight: 700;
    margin-bottom: 10px;
}
.reservWrap .allSeat .reservmInfo ul.seatInf {
	display: flex;
	flex-direction: column;
	padding:0;
	margin: 0;
	gap: 5px;
    background: #FFECEB;
}
/**.reservWrap .allSeat .reservmInfo ul.seatInf li {
	font-size:12px;
}*/
.reservWrap .allSeat .reservmInfo ul.seatInf li {
	background: #FFECEB;
}
.reservWrap .allSeat table th {
	width:50px;
	font-size: 10px;
    font-weight: 400;
    background: #F2F2F2;
    padding: 10px;
}
.reservWrap .allSeat table td {
	width: 150px;
	font-size: 11px;
	background: #FFECEB;
    text-align: center;
}
.reservWrap .allSeat table b {
	font-weight: 400;
	color: #FF3D32;
}
.reservWrap .allSeat .seatL .priceT, .pointB {
	padding: 36px;
}
.reservWrap .allSeat .seatL .priceT .stit,  .pointB .stit{
   background: #D9D9D9;	
   padding: 15px 30px;
}

.reservWrap .allSeat .seatL .stit span {
   font-size: 17px;
   font-weight: 700;
}
.reservWrap .allSeat .seatL .priceT .priceList {
	padding: 25px;
    background: #fff;
}
.reservWrap .allSeat .seatL .priceT .priceList table {
    width: 100%;
    border-collapse: collapse; /* 셀 테두리들을 합쳐서 하나로 연결 */
    border: 1px solid #828282;
}

.reservWrap .allSeat .seatL .priceT .priceList table th,
.reservWrap .allSeat .seatL .priceT .priceList table td {
    border: 1px solid #828282; /* 각 셀에도 테두리 적용 */
    padding: 10px; /* 셀 안쪽 여백 */
    font-size: 13px;
        background: #fff
}

.pointContainer .pointUse {
    display: flex;
    align-items: center;
}

.pointContainer label {
    font-weight: bold;
    margin-right:15px;
}

.pointContainer input[type="text"] {
    width: 80px;
    padding: 5px;
    background-color: #e0e0e0;
    border: 1px solid #ccc;
    border-radius: 3px;
    text-align: center;
    color: #828282;
    font-weight: bold;
}



.pointContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f8f8f8; 
    padding: 25px;
}

.pointUse button {
    margin-left: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* footer */
footer {background: #212121;}
.area  {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 0;
}
.area .ft_img {
	display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}
.area ul li {    
	margin-bottom: 10px;
}
.area ul li span {    
	color: #fff;
    opacity: 0.7;
    font-weight: 200;
    font-size: 13px;
}
.bottom {
	background: #000;
}
.bottom p {        
	width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    opacity: 0.6;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 400;
    }