@charset "UTF-8";

/* index */
.wrap {
    width: 100%;
    height: 100%;
}

.top {
    height: 50px;
    background: #000;
    display: flex;
    flex-direction: row-reverse;
    padding: 0 210px;
    align-items: center;
    gap: 100px;
}

.top a {
    color: #fff;
    font-size: 15px;
}

.top .topmusepass {
    width: 195px;
    font-family: 'MV Boli', sans-serif;
    background-color: #ff3d32;
    color: #fff;
    line-height: 50px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    margin-right: 20px;
}

.top .topmusepass img {
    width: 20px;
}

.header {
    position: relative;
    background: #fff;
    height: 90px;
    display: flex;
    padding: 0 210px;
    align-items: center;
    border-bottom: 1px solid #000;
}

.header a {
    display: block;
    margin-right: 150px;
}

.header ul {
    display: flex;
    gap: 20px;
}

.header ul li {
    font-size: 20px;
    font-weight: 500;
}

.search {
    position: absolute;
    right: 120px;
    top: 50%;
    transform: translateY(-50%);
    max-width: 440px;
    width: 20%;
    border-left: 1px solid #7f7f7f;
    height: 70px;
    background-color: #fff;
    z-index: 1001;
}

.search input {
    width: 275px;
    height: 100%;
    border: none;
    padding: 0 30px;
}

.search button {
    width: 40px;
    height: 100%;
    text-indent: -9999px;
    overflow: hidden;
    display: inline-block;
    background: url(../img/main/search.png) center no-repeat;
}

.hide, caption, legend, .hidden {
    position: absolute;
    left: -300px;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    background: none;
    line-height: 0;
    overflow: hidden;
}
.content {
	width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    
}

article h2 {
    font-size: 50px;
    padding: 100px 0 50px;
    text-align: center;
}

article.whatsOn {
	position: relative;
    
}


article.whatsOn a.calender {
    width: 250px;
    display: flex;
    position: absolute;
    right: 45px;
    color: #fff;
    background: #000;
    height: 60px;
    border-radius: 0 0 25px 25px;
    line-height: 60px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

article.whatsOn a.calender img {
	width:20px;
}


.screening-container {
    display: flex;
    gap: 20px;
    padding: 20px 0;
}

.screening-item {
    border: 1px solid #000;
    display: flex;
    flex-direction: column;
    background: #fff;
    margin: 0 10px; /* Slide gap */
}

.slick-slide:last-child {
    margin-right: 0;
}

.screening-item .thumbnail {
    width: 100%;
    height: 0;
    padding-top: 125%;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s;
}

.screening-item .thumbnail:hover {
    transform: scale(1.1);
}

.screening-item .title {
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    border-top: 1px solid #000;
}

.screening-item .meta {
    font-size: 14px;
    color: #000;
    padding: 10px 5px;
    text-align: center;
    background: #f9f9f9;
    border-top: 1px solid #000;
}

.screening-item.open .meta {
    font-size: 12px;
}
.screening-item.open .meta.red {
    color: #FF3D32;
}
.screening-item .meta.gray {
    color: #959595;
}

article .bt {
	padding: 50px 0;
}

article .bt a{
	width: 240px;
    height: 60px;
    font-size: 18px;
    color: #FF3D32;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #FF3D32;
    margin: 0 auto;
}

article .bt a:hover {
    color: #fff;
    background:#FF3D32;
}


.slick-prev, .slick-next {
    background: #FF3D32;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;
    opacity: 0.8;
    visibility: visible !important;
    transition: none !important;
    pointer-events: auto !important;
}

.slick-prev:before, .slick-next:before {
    color: #FFFFFF;
    font-size: 20px;
    content: "";
	background: url(../img/main/slide_arrow.png) center no-repeat #FF3D32;
    width: 100%;
    height: 100%;
    display: inline-block;
    visibility: visible !important;
    border-radius: 50%;
}

.slick-prev:hover, .slick-next:hover {
    opacity: 1 !important;
}

.slick-prev:before {
    transform: rotate(180deg);
}

.slick-prev {
    left: -15px;
    z-index: 10;
}

.slick-next {
    right: -15px;
    z-index: 10;
}
.mainBanner {
	position: relative;
	padding: 100px 0 50px;
}
.mainBanner a {
	width: 100%;
	height: 100%;
	display: block;
}
.mainBanner a .txt {
	position: absolute;
	padding: 50px 0 0 500px;
    color:#fff;
    text-align: center;
}
.mainBanner a .txt01 {
	font-size:19px;
	font-weight: 300;
	opacity: 0.6;
}
.mainBanner a .txt02 {
	font-size:22px;
	margin-top: 5px;
}
.mainBanner a .txt span {
    color:#fff;
}

article .reviewcont ul.cont {
	display:flex;
	gap: 70px;
    flex-wrap: wrap;
    justify-content: center;
}

article .reviewcont ul li {
	margin-right: 30px;
}

article .reviewcont ul.cont li a {
    width: 100%;
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    padding: 0;
    gap: 30px;
    align-items: flex-start;
    cursor: pointer;
}
article .reviewcont ul.cont li .reviewposter{
	width: 300px;
    height: 350px;
    background: #000;
}
article .reviewcont ul.cont li .reviewtxt ul {
	display: flex;
    width: 310px;
    height: 310px;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid;
    padding: 20px;
}
article .reviewcont ul.cont li .reviewtxt .name{
	font-size: 15px;
	color: 000;
	opacity: 0.6;
}
article .reviewcont ul.cont li .reviewtxt .title{
	font-size: 22px;
}
article .reviewcont ul.cont li .reviewtxt .content{
	font-size: 15px;
	color: #757575;
	line-height: 1.5;
}
article .reviewcont ul.cont li .reviewtxt .inf{
	font-size: 15px;
}

.screening-container.all {
    display: flex;
    gap: 25px;
    padding: 50px 0;
}

.screening-item.all {
	width: 280px;
}

article.alltheMusical {padding-bottom:100px;}
/* footer */
footer {background: #212121;}
.area  {
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 40px 0;
}
.area .ft_img {
	display: flex;
    align-items: center;
    gap: 20px;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
}
.area ul li {    
	margin-bottom: 10px;
}
.area ul li span {    
	color: #fff;
    opacity: 0.7;
    font-weight: 200;
    font-size: 13px;
}
.bottom {
	background: #000;
}
.bottom p {        
	width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    text-align: center;
    color: #fff;
    padding: 20px 0;
    opacity: 0.6;
    letter-spacing: 2px;
    font-size: 13px;
    font-weight: 400;
    }